#even-money-page hr {
  background-color: rgba(255,255,255,0.5);
  height: 1px;
  border: 0;
}

#even-money-page ul {
  list-style-type: none;
}

#even-money-page .bb-header {
  font-size: 24px;
  font-weight: bold;
}

#even-money-page .bb-item-none {
  display: none;
}

#even-money-page .bb-item {
  padding: 5px;
  
}

#even-money-page .bb-item .icon {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 15px 0 0;
  max-width: 20%;
  vertical-align: top;
}

#even-money-page .bb-item .text {
  display: inline-block;
  font-size: 24px;
  max-width: 80%;
}

#even-money-page iframe#even-money-podcast {
  /*border: solid 3px #499ED2;*/
  border-radius: 10px;
}