#betting-history-page .ReactTable {
  background-color: rgba(0,0,0,.5);
  color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

#betting-history-page .ReactTable .-pageJump, #betting-history-page .ReactTable .-pageSizeOptions {
  color: black;
}

#betting-history-page .rt-table .money::before {
  content: '$';
}

#betting-history-page .rt-table .bet-details {
  position: absolute;
  display: block;
  width: 40px;
}

#betting-history-page .rt-table .bet-details .bet-label,
#betting-history-page .rt-table .bet-details .bet-date{
  display: inline-block;
}

#betting-history-page .rt-table .bet-details .bet-label {
  width: 25%;
  font-weight: bolder;
}

#betting-history-page .rt-table .bet-details .bet-date{
  width: 75%;
}

#betting-history-page .rt-table .bet-details-hover {
  display: none;
  position: absolute;
  top: -5px;
  left: 40px;
  min-width: 400px;
  min-height: 400px;
  background-color: white;
  border: outset black 1px;
  border-radius: 0px 15px 15px 15px;
  color: black;
  padding: 10px 25px;
  z-index: 1;
}

#betting-history-page .rt-table input[type=text] {
  color: black;
}

#betting-history-page .rt-table .bet-details-hover::after {
  content: " ";
  position: absolute;
  top: 0; /* At the bottom of the tooltip */
  left: 0;
  margin-left: -30px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

#betting-history-page .rt-table .bet-week:hover .bet-details-hover {
  display: block;
}

#betting-history-page .rt-table .nfl-week {
  display: block;
  width: 10px;
  margin: 0 auto;
}

#betting-history-page .rt-table .align-right {
  text-align: right;
}